html, body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-bar {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0;
    border: none;
}
.nav-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(25, 76, 46)
}

.site-logo{
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
}

.button-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: right;
}

.nav-button{
    position: relative;
    margin: 10px;
    height: 100%;
    display: inline-grid;

}

.nav-button > a {
    position: relative;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: large;
    line-height: 25px;
    height: 100%;
}
.nav-button > a:hover {
    top: -2px;
}