{% extends 'base.html' %}

{% block content %}
<div class="header-container">
  <div class="header-image" style="background-image: url('https://s1.1zoom.me/big0/100/USA_Parks_Mountains_Autumn_Lake_Scenery_Panorama_607503_1280x521.jpg');" alt="Image for user profile page."></div>
</div>

<div class="profile-container">

  <div class="profile-image-container">
    <div class="profile-image" style="background-image: url('{{user.image_url}}');" alt="Image for {{ user.username }}"></div>
  </div>

  <div class="profile-text-wrapper">
    <h2 class="user-name">@{{ user.username }}</h2>
    <p class="user-bio">{{ user.bio }}</p>
    <p class="user-location">{{ user.location }}</p>
  </div>

  <a class="user-edit" href="/profile/edit">Edit Profile</a>
</div>

{% endblock %}