{% extends 'base.html' %}

{% block content %}
  <div class="form-div">
    <h1 class="form-title">Welcome!</h1>
    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        <div class="form-field">
          {{ field(placeholder=field.label.text, class="form-control") }}
        </div>
      {% endfor %}

      <button class="form-button">Create account!</button>
    </form>
  </div>
{% endblock %}